<div class="product">
  <img [src]="product.mainImage.ref" />
  <p>{{product.name}}</p>
  <p>{{ product.defaultPriceInCents / 100 | currency}}</p>
</div>

<!--


  {
"createdAt": 1422317527000,
"updatedAt": null,
"id": 1662224,
"importSource": null,
"importRef": null,
"name": "The FIJI Water Straw (6pk)",
"code": null,
"defaultPriceInCents": 995,
"specializedPriceInCents": null,
"msrpInCents": 995,
"subscriptionPrice": 0,
"ordinal": 0,
"tagLine": null,
    "mainImage": {
    "createdAt": null,
    "updatedAt": null,
    "id": 178361,
    "importSource": null,
    "importRef": null,
    "type": "IMAGE",
    "ref": "//image-cdn.symphonycommerce.com/images/sites/fijiwater/1424736511908_6pack_straw_image_1.400w.jpg",
    "ordinal": 1,
    "primary": true,
    "meta": [
        {
          "createdAt": null,
          "updatedAt": null,
          "id": null,
          "importSource": null,
          "importRef": null,
          "key": "medium",
          "value": "//image-cdn.symphonycommerce.com/images/sites/fijiwater/1424736511908_6pack_straw_image_1.400w.jpg",
          "displayValue": null,
          "keyType": "IMAGE_SIZE",
          "keyDescription": "location of medium sized image",
          "site": null,
          "priority": null
        },
        {
          "createdAt": null,
          "updatedAt": null,
          "id": null,
          "importSource": null,
          "importRef": null,
          "key": "large",
          "value": "//image-cdn.symphonycommerce.com/images/sites/fijiwater/1424736511908_6pack_straw_image_1.400w.jpg",
          "displayValue": null,
          "keyType": "IMAGE_SIZE",
          "keyDescription": "location of large sized image",
          "site": null,
          "priority": null
        }
      ],
    "dimension": null
    },
"vendorSku": null,
"globalSku": null,
"cost": 0,
"maxPrice": 995,
"minPrice": 995
},


-->
